<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kri-dou | {% block title %} Base {% endblock title %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-dark container-fluid">
    <div class="row">
        <div class="col">
            {% include 'nav.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% block header %}
            {% endblock header %}
        </div>
    </div>
    <div class="row h-100">
        <div class="col h-100">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>