{% extends 'base.html' %}

{% block title %} ponder {% endblock title %}

{% block content %}
    <div class="container text-light d-flex flex-column h-100 justify-content-center">
        <div class="row mt-5"><h1>title</h1></div>
        <div class="row mt-5 h-50 align-self-center"><h4>description</h4></div>
        <div class="row mt-5 mb-auto d-flex justify-content-evenly">
            <button type="button" class="btn btn-secondary btn-lg w-25">choice a</button>
            <button type="button" class="btn btn-secondary btn-lg w-25">choice a</button>
        </div>
    </div>
{% endblock content %}