{% extends 'base.html' %}

{% block title %} profile {% endblock title %}

{% block header %}
        <div class="d-flex justify-content-end me-2">
            <form action="{{ url_for('reset') }}">
                <button type="submit" class="btn btn-danger me-1">reset</button>
            </form>
            <form action="{{ url_for('ponder') }}">
                <button type="submit" class="btn btn-secondary me-1">ponder</button>
            </form>
            <form action="{{ url_for('logout') }}">
                <button type="submit" class="btn btn-secondary me-1">log out</button>
            </form>
        </div>
{% endblock header %}

{% block content %}
    <div class="container text-light d-flex flex-column h-100">
        <div class="row">
            <h1>you answers are most aligned with {{ ethic.replace('_', ' ') }}</h1>
            {% if ethic == 'nihilism' %}
                <h5 class="mt-2 px-5 me-2 fst-italic">{{ wikipedia.page(pageid=21663).summary.splitlines()[0].lower() }}</h5>
            {% else %}
                <h5 class="mt-2 px-5 me-2 fst-italic">{{ wikipedia.page(ethic).summary.splitlines()[0].lower() }}</h5>
            {% endif %}
        </div>
        <div class="row mt-3">
                <h2>notable practitioners:</h2>
                <div id="notable-carousel" class="carousel slide mt-3">
                    <div class="carousel-inner">
                        {% for person in pract[ethic] %}
                            {% if person == pract[ethic][0] %}
                            <div class="carousel-item active">
                                <div class="container d-flex">
                                    <div class="col-6"><img src="{{ wikipedia.page(person).images[0] }}" class="d-block carosel-img" alt="..."></div>
                                    <div class="col-5">
                                        <h1>{{ person.lower() }}</h1>
                                        {% if wikipedia.page(person).summary[:1500][-1] !='.' %}
                                        <p>{{ wikipedia.page(person).summary[:1500].lower()+'...' }}</p>
                                        {% else %}
                                        <p>{{ wikipedia.page(person).summary[:1500].lower() }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="carousel-item">
                                <div class="container d-flex">
                                    <div class="col-6"><img src="{{ wikipedia.page(person).images[0] }}" class="d-block carosel-img" alt="..."></div>
                                    <div class="col-5">
                                        <h1>{{ person.lower() }}</h1>
                                        {% if wikipedia.page(person).summary[:1500][-1] !='.' %}
                                        <p>{{ wikipedia.page(person).summary[:1500].lower()+'...' }}</p>
                                        {% else %}
                                        <p>{{ wikipedia.page(person).summary[:1500].lower() }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#notable-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#notable-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

        </div>
    </div>
{% endblock content %}